<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193551739453-s9so9ivev9tfptggf05fa5f5lpei9dnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193551739453-s9so9ivev9tfptggf05fa5f5lpei9dnj</string>
	<key>API_KEY</key>
	<string>AIzaSyBkL_f7JYgaXEHKoPTyX0pv8IznKyfAZNg</string>
	<key>GCM_SENDER_ID</key>
	<string>193551739453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttermobiditm1iot.flutterMobiditM1Iot.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-mobidit-m1-iot</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mobidit-m1-iot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193551739453:ios:dea77a2528a59ca7589854</string>
</dict>
</plist>